<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <!-- 写Sql语句 -->
<mapper namespace="com.hxc.interview.userservice.dao.UserMapper">

    <select id="getUserByCondition" resultType="user" parameterType="user">
        select id, userName, gender, address, idNo, age, phone, registerDate, last_login_success_date, login_pwd_error_times, userStatus, password, `key`, iv, email
        from user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userName != null">
                and userName = #{userName}
            </if>
            <if test="gender != null">
                and gender = #{gender}
            </if>
            <if test="idNo != null">
                and idNo = #{idNo}
            </if>
            <if test="age != null">
                and age = #{age}
            </if>
            <if test="phone != null">
                and phone = #{phone}
            </if>
            <if test="email != null">
                and email = #{email}
            </if>
        </where>
    </select>

    <select id="getUserByConditionForInsert" resultType="user" parameterType="java.util.Map">
        select userName, idNo, email
        from user
        <where>
            (userName = #{userName} and idNo = #{idNo} and email = #{email}) or
            (userName = #{userName} or idNo = #{idNo} or email = #{email}) or
            (userName = #{userName} and idNo = #{idNo}) or
            (userName = #{userName} and email = #{email}) or
            (idNo = #{idNo} and email = #{email})
        </where>
    </select>

    <insert id="addUser" parameterType="user">
        insert into user (userName, gender, address, idNo, age, phone, registerDate, userStatus, password, `key`, iv, email)
        values (#{userName}, #{gender}, #{address}, #{idNo}, #{age}, #{phone}, #{registerDate}, 1, #{password}, #{key}, #{iv}, #{email})
    </insert>

    <update id="updateUser" parameterType="java.util.Map">
        update user
        <set>
            <if test="userName != null">
                userName = #{userName},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="key != null">
                `key` = #{key},
            </if>
            <if test="iv != null">
                iv = #{iv},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="userStatus != null">
                userStatus = #{userStatus},
            </if>
            <if test="login_pwd_error_times != null">
                login_pwd_error_times = #{login_pwd_error_times},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>