<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <!-- 写Sql语句 -->
<mapper namespace="com.hxc.interview.userservice.dao.UserMapper">

    <select id="getUserByCondition" resultType="user" parameterType="user">
        select id, userName, gender, address, idNo, age, phone, registerDate, last_login_success_date, login_pwd_error_times, userStatus, password, `key`, iv
        from user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userName != null">
                and userName = #{userName}
            </if>
            <if test="gender != null">
                and gender = #{gender}
            </if>
            <if test="idNo != null">
                and idNo = #{idNo}
            </if>
            <if test="age != null">
                and age = #{age}
            </if>
            <if test="phone != null">
                and phone = #{phone}
            </if>
            <if test="email != null">
                and email = #{email}
            </if>
        </where>
    </select>

    <select id="getUserByConditionForInsert" resultType="user" parameterType="java.util.Map">
        select userName, idNo, email
        from user
        <where>
            (userName = #{userName} and idNo = #{idNo} and email = #{email}) or
            (userName = #{userName} or idNo = #{idNo} or email = #{email}) or
            (userName = #{userName} and idNo = #{idNo}) or
            (userName = #{userName} and email = #{email}) or
            (idNo = #{idNo} and email = #{email})
        </where>
    </select>

    <insert id="addUser" parameterType="user">
        insert into user (userName, gender, address, idNo, age, phone, registerDate, userStatus, password, key, iv)
        values (#{userName}, #{gender}, #{address}, #{idNo}, #{age}, #{phone}, #{registerDate}, #{userStatus}, #{password}, #{key}, #{iv})
    </insert>

</mapper>